[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "alpine-wheels"
# https://github.com/imranq2/alpine-wheels/
url = "https://imranq2.github.io/alpine-wheels/docs/"
verify_ssl = true

[packages]
# shared runtime dependencies for moved modules
boto3 = ">=1.34.59"
fastapi = ">=0.110.0"
httpx = { version = ">=0.27.2", extras = ["http2"] }
langchain = ">=1.0.0"
langchain-aws = ">=1.0.0"
langchain-community = ">=0.4"
langchain-core = ">=1.0.0"
langgraph = ">=1.0.0"
loguru = ">=0.7.3"
oidcauthlib = ">=2.0.11"
openai = ">=2.5.0"
pydantic = ">=2.0,<3.0.0"
tiktoken = ">=0.7.0"
# langchain-ai-skills-framework is a Python library for building AI skills in LangChain
langchain-ai-skills-framework = ">=1.0.2"

[dev-packages]
setuptools=">=60.9.3"
wheel = ">=0.43.0"
twine=">=4.0.2"
pre-commit=">=3.6.1"
autoflake=">=2.2.0"
mypy = ">=1.8.0"
pytest = ">=8.1.1"
pytest-asyncio = ">=0.23.6"
black = ">=24.2.0"
# bandit is needed for security checks
bandit = ">=1.8.3"
# ruff is needed for linting
ruff = ">=0.11.5"
# pytest-cov is needed for measuring test coverage
pytest-cov = ">=6.1.1"
# types-boto3 provides type hints for boto3
types-boto3 = { version = ">=1.40.0"}
types-botocore = { version = ">=1.0.2" }
types-boto3-bedrock = ">=1.40.0"
types-boto3-bedrock-runtime = ">=1.40.0"

# These dependencies are required for pipenv-setup.  They conflict with ones above, so we install these
# only when running pipenv-setup
[pipenvsetup]
# vistr is needed for visualizing the dependency graph
vistir=">=0.6.1, <0.7.0" # https://github.com/Madoshakalaka/pipenv-setup/issues/138
# plete is needed for tab completion
plette = "<1.0.0" # https://github.com/Madoshakalaka/pipenv-setup/issues/138
# setuptools >= 81.0.0 has a breaking change that causes pipenv-setup to fail, so we need to pin it to a version <= 80.9.0
setuptools=">=60.9.3, <=80.9.0"
# pipenv-setup is needed for updating setup.py with the dependencies for anyone installing this package
pipenv-setup = ">=3.2.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
